.table-container {
  max-width: 100%;
  overflow-x: auto;
  padding: 100px;
}

.table-container h1{
  color: hsl(117, 71%, 31%);
  text-align: center;
}

.success{
  color: hsl(117, 71%, 31%);
}

.danger{
  color: red;
}

.table-container button{
  background: hsl(117, 71%, 31%);
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
  padding: .4rem 1.5rem;
}

.table-container a{
 color: #fff;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover {
  background-color: #e9ecef;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.btn-icons {
  margin: 0.35rem;
  width: 20px;
  height: 20px;
}


.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media (max-width: 575.98px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    border: 1px solid #ddd;
  }
  .table-responsive > .table thead > tr > th,
  .table-responsive > .table tbody > tr > th,
  .table-responsive > .table tfoot > tr > th,
  .table-responsive > .table thead > tr > td,
  .table-responsive > .table tbody > tr > td,
  .table-responsive > .table tfoot > tr > td {
    white-space: nowrap;
  }
}

.table img {
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}